@model  SuperAdmin.WebUI.Models.MenuViewModel
<div id="sidebar" class="sidebar">
    <div class="sidebar-menu nav-collapse">
        <div class="divide-20"></div>
        <!-- SIDEBAR MENU -->
        <ul>
            <li>
                    <a href="@Url.Action("Index", "Home")">
                        <i class="fa fa-dashboard fa-fw"></i><span class="menu-text">首页</span>
                    </a>
                </li>
            @{
                foreach (SuperAdmin.datamodel.SysAdminMenuModel item in Model.firstlist)
                {
                    List<SuperAdmin.datamodel.SysAdminMenuModel> list = Model.sublist.Where(p => p.FatherID == item.ID).ToList();
                    if (list.Count > 0)
                    {
                <li class="has-sub">
                    <a href="javascript:;" class="">
                        <i class="fa @(item.MenuIcon) fa-fw"></i><span class="menu-text">@item.MenuName</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub">
                        @foreach (SuperAdmin.datamodel.SysAdminMenuModel subitem in list)
                        {
                            <li><a class="" href="@Url.Action(item.ActionName, item.ControllerName, new { area=item.AreaName})"><span class="sub-menu-text">@subitem.MenuName</span></a></li>
                        }
                    </ul>
                </li>
                    }
                    else
                    { 
                <li>
                    <a href="@Url.Action(item.ActionName, item.ControllerName, new { area=item.AreaName})">
                        <i class="fa @(item.MenuIcon) fa-fw"></i><span class="menu-text">@item.MenuName</span>
                    </a>
                </li>
                    }
                }
            }
        </ul>
        <!-- /SIDEBAR MENU -->
    </div>
</div>
