@model SuperWebSite.WebUI.Areas.Article.Models.ArticleDetailViewModel
@{
    Layout = "~/Views/_ArticleLayout.cshtml";
}
<div class="container">
    <div class="row">
        <!-- main start -->
        <div class="main col-md-8">
            <h1 class="page-title">@Model.Article.ArtTitle</h1>
            <article class="clearfix blogpost full">
                <div class="blogpost-body">
                    <div class="side">
                        <div class="post-info">
                            <span class="day">@Model.Article.ArtPublishTime.Day</span>
                            <span class="month">@Model.Article.ArtPublishTime.ToString("yyyy-MM")</span>
                        </div>
                    </div>
                    <div class="blogpost-content">
                        <header>
                            <div class="submitted"><i class="fa fa-user pr-5"></i>作者: @(Model.Article.MemberID == 0 ? "本站编辑" : Model.Article.MemberName)</div>
                        </header>
                        @Html.Raw(Model.Article.ArtContent)
                    </div>
                    <footer class="clearfix">
                        <ul class="links pull-left">
                            <li><i class="fa fa-comment-o pr-5"></i><a href="#">@Model.Article.ArtCommentCount 条评论</a> |</li>
                            <li><i class="fa fa-tags pr-5"></i>@Model.Article.ArtUserTags</li>
                        </ul>
                    </footer>
                </div>
            </article>
            <div class="comments">
                <h2 class="title">推荐阅读</h2>

                @{
                    int k = 0;
                    <div class="row">
                        @foreach (var item in Model.RecommendArticlebuttom)
                        {
                            if (k > 2)
                            { break; }
                            <div class="image-box col-md-4">
                                <div class="overlay-container">
                                    <img src="@(item.ArtPicWidth > 320 ? item.ArtPic + ".320.jpg" : item.ArtPic)" alt="@item.ArtTitle">
                                </div>
                                <div class="image-box-body">
                                    <h4 class="title"><a href="#">@item.ArtTitle</a></h4>
                                    @Html.Raw(item.ArtSummary.Substring(0, 100))
                                </div>
                            </div>
                            k++;
                        }
                    </div>
                    <div class="row">
                        @for (int i = k; i < Model.RecommendArticlebuttom.Count; i++)
                        {
                            <div class="image-box col-md-4">
                                <div class="overlay-container">
                                    <img src="@(Model.RecommendArticlebuttom[i].ArtPicWidth > 320 ? Model.RecommendArticlebuttom[i].ArtPic + ".320.jpg" : Model.RecommendArticlebuttom[i].ArtPic)" alt="@Model.RecommendArticlebuttom[i].ArtTitle">
                                </div>
                                <div class="image-box-body">
                                    <h4 class="title"><a href="#">@Model.RecommendArticlebuttom[i].ArtTitle</a></h4>
                                    @Html.Raw(Model.RecommendArticlebuttom[i].ArtSummary.Substring(0, 100))
                                </div>
                            </div>
                        }
                    </div>
                }

            </div>
            <div class="comments">
                <h2 class="title">@Model.Article.ArtCommentCount 条评论</h2>
                @foreach (var item in Model.comments)
                {
                    <div class="comment clearfix">
                        <div class="comment-avatar">
                            <img src="/images/avatar.jpg" alt="avatar">
                        </div>
                        <div class="comment-content clearfix">
                            <div class="comment-meta">@item.MemberName | @item.Addtime.ToString("MM-dd HH:mm")</div>
                            <div class="comment-body">
                                @Html.Raw(item.ComCentent)
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="comments-form col-md-10">
                <h2 class="title">Add your comment</h2>
                <form role="form" id="comment-form">
                    <div class="form-group has-feedback">
                        <textarea class="form-control" rows="5" id="message4" placeholder="" name="message4" required></textarea>
                        <i class="fa fa-envelope-o form-control-feedback"></i>
                    </div>
                    <input type="submit" value="Submit" class="btn btn-default">
                </form>
            </div>
        </div>


        <aside class="col-md-3 col-md-offset-1">
            <div class="sidebar">
                <div class="block clearfix">
                    <h3 class="title">推荐阅读</h3>
                    <div class="separator"></div>
                    @foreach (var item in Model.RecommendArticle)
                    {
                        <div class="image-box">
                            <div class="overlay-container">
                                <img src="@(item.ArtPicWidth > 320 ? item.ArtPic + ".320.jpg" : item.ArtPic)" alt="@item.ArtTitle">
                            </div>
                            <div class="image-box-body">
                                <h4 class="title"><a href="#">@item.ArtTitle</a></h4>
                                @Html.Raw(item.ArtSummary.Substring(0, 100))
                            </div>
                        </div>
                    }
                </div>
                @*<div class="block clearfix">
                    <h3 class="title">Tags</h3>
                    <div class="separator"></div>
                    <div class="tags-cloud">
                        <div class="tag">
                            <a href="#">energy</a>
                        </div>
                        <div class="tag">
                            <a href="#">business</a>
                        </div>
                        <div class="tag">
                            <a href="#">food</a>
                        </div>
                        <div class="tag">
                            <a href="#">fashion</a>
                        </div>
                        <div class="tag">
                            <a href="#">finance</a>
                        </div>
                        <div class="tag">
                            <a href="#">culture</a>
                        </div>
                        <div class="tag">
                            <a href="#">health</a>
                        </div>
                        <div class="tag">
                            <a href="#">sports</a>
                        </div>
                        <div class="tag">
                            <a href="#">life style</a>
                        </div>
                        <div class="tag">
                            <a href="#">books</a>
                        </div>
                    </div>
                </div>      *@
            </div>
        </aside>
    </div>
</div>
