@model  SuperWebSite.WebUI.Areas.Article.Models.ArticleCateViewModel
@{
    Layout = "~/Views/_ArticleLayout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="main col-md-8">
            <h1 class="page-title">@Model.CateName</h1>
            <div class="masonry-grid row">
                @foreach (var item in Model.Articles)
                {
                    <div class="masonry-grid-item col-sm-6">
                        <article class="clearfix blogpost">
                            @if (!string.IsNullOrWhiteSpace(item.ArtPic))
                            {
                                <div class="overlay-container">
                                  <a target="_self" href="@Url.Action("ArticleDetail", "Articles", new { area="Article",aid=@item.ID})">  <img src="@(item.ArtPicWidth > 400 ? item.ArtPic + ".400.jpg" : item.ArtPic)" alt="@item.ArtTitle"></a>
                                </div>
                            }
                            <div class="blogpost-body">
                                <div class="post-info">
                                    <span class="day">@item.ArtPublishTime.Day</span>
                                    <span class="month">@item.ArtPublishTime.ToString("yyyy-MM")</span>
                                </div>
                                <div class="blogpost-content">
                                    <header>
                                        <h2 class="title"><a target="_self" href="@Url.Action("ArticleDetail", "Articles", new { area="Article",aid=@item.ID})">@item.ArtTitle</a></h2>
                                        <div class="submitted"><i class="fa fa-user pr-5"></i>作者：@(item.MemberID == 0 ? "本站编辑" : item.MemberName)</div>
                                    </header>
                                    <p>@Html.Raw(item.ArtSummary)</p>
                                </div>
                            </div>
                        </article>
                    </div>
                }
            </div>
            @Html.Raw(Url.Pagination("catepage", "Articles", new { area = "Article" }, Model.pageparam, Model.PageSize, Model.pagecount))
        </div>


        <!-- sidebar start -->
        <aside class="col-md-3 col-md-offset-1">
            <div class="sidebar">
                <div class="block clearfix">
                    <h3 class="title">推荐阅读</h3>
                    <div class="separator"></div>
                    @foreach (var item in Model.RecommendArticle)
                    {
                        <div class="image-box">
                            <div class="overlay-container">
                                <a target="_self" href="@Url.Action("ArticleDetail", "Articles", new { area="Article",aid=@item.ID})"><img src="@(item.ArtPicWidth > 320 ? item.ArtPic + ".320.jpg" : item.ArtPic)" alt="@item.ArtTitle"></a>
                            </div>
                            <div class="image-box-body">
                                <h4 class="title"><a target="_self" href="@Url.Action("ArticleDetail", "Articles", new { area="Article",aid=@item.ID})">@item.ArtTitle</a></h4>
                                @Html.Raw(item.ArtSummary.Substring(0, 100))
                            </div>
                        </div>
                    }
                </div>
                @if (Model.HotTagsList.Count > 0)
                {
                    <div class="block clearfix">
                        <h3 class="title">大家都在搜</h3>
                        <div class="separator"></div>
                        <div class="tags-cloud">
                            @foreach (var item in Model.HotTagsList)
                            {
                                <div class="tag">
                                    <a href="#">@item.TagName</a>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </aside>
        <!-- sidebar end -->

    </div>
</div>
