@model SuperAdmin.WebUI.Areas.AdminArea.Models.SiteMsgIndexViewModel
@{
    Layout = "~/Views/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div id="content" class="col-lg-12">
            <!-- PAGE HEADER-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-header">
                        <!-- BREADCRUMBS -->
                        <ul class="breadcrumb">
                            <li>
                                <i class="fa fa-home"></i>
                                <a href="index.html">Home</a>
                            </li>
                            <li>
                                <a href="#">站内消息</a>
                            </li>
                            <li>消息列表</li>
                        </ul>
                        <!-- /BREADCRUMBS -->
                        <div class="clearfix">
                            <h3 class="content-title pull-left">消息列表</h3>
                        </div>
                        <div class="description"></div>
                    </div>
                </div>
            </div>
            <!-- /PAGE HEADER -->
            <div class="row">
                <div class="col-sm-11">
                    <div class="btn-group hidden-xs pull-left invoice-btn-group">
                        <p class="btn-toolbar">
                            <a class="btn btn-danger" href="@Url.Action("sendmsg", "SiteMsg", new { area = "AdminArea" })"><i class="fa fa-plus"></i>&nbsp;发送消息</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row" id="tabdiv">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th colspan="2">
                                        <input type="checkbox" class="uniform">
                                        @*<a class="btn btn-light-grey" href="#"><i class="fa fa-refresh fa-lg"></i></a>*@
                                    </th>
                                    <th colspan="2">
                                        <div class="btn-group pull-right">
                                            <button class="btn btn-light-grey dropdown-toggle" data-toggle="dropdown">
                                                更多
                                                <i class="fa fa-caret-down"></i>
                                            </button>
                                            <ul class="dropdown-menu context" role="menu">
                                                <li><a href="#"><i class="fa fa-pencil"></i>&nbsp;标记</a></li>
                                                <li><a href="#"><i class="fa fa-ban"></i>&nbsp;回复</a></li>
                                                <li><a href="#"><i class="fa fa-trash-o"></i>&nbsp;删除</a></li>
                                            </ul>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.msglist)
                                {
                                    <tr class="new">
                                        <td class="width-10">
                                            <input type="checkbox" class="uniform">
                                        </td>
                                        <a href="@Url.Action("NewsView", "SiteMsg", new { area = "AdminArea", nid = item.ID })">
                                        <td class="viewEmail  hidden-xs"><a style="text-decoration:none" href="@Url.Action("NewsView", "SiteMsg", new { area = "AdminArea", nid = item.ID })">@item.SendUserName</a></td>
                                        <td class="viewEmail  width-20">
                                            <a style="text-decoration:none" href="@Url.Action("NewsView", "SiteMsg", new { area = "AdminArea", nid = item.ID })">
                                                @if (item.SStatus == 1)
                                                {
                                                    <span class="label label-success">New</span>}
                                                @(item.SContent.Length > 20 ? item.SContent.Substring(0, 20) : item.SContent)
                                            </a></td>
                                        <td class="viewEmail  text-right">@item.SAddTime.ToString("MM-dd HH:mm")</td>
                                        
                                    </tr>
                                }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section mycss{
    <!-- SELECT2 -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("/js/select2/select2.min.css")" />
    <!-- UNIFORM -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("/js/uniform/css/uniform.default.min.css")" />

}
@section scriptfiles{
    <!-- TYPEHEAD -->
    <script type="text/javascript" src="/js/typeahead/typeahead.min.js"></script>
    <!-- AUTOSIZE -->
    <script type="text/javascript" src="/js/autosize/jquery.autosize.min.js"></script>
    <!-- COUNTABLE -->
    <script type="text/javascript" src="/js/countable/jquery.simplyCountable.min.js"></script>
    <!-- SELECT2 -->
    <script type="text/javascript" src="@Url.Content("/js/select2/select2.min.js")"></script>
    <!-- UNIFORM -->
    <script type="text/javascript" src="@Url.Content("/js/uniform/jquery.uniform.min.js")"></script>

}
@section myscript{
    <script type="text/javascript">
        $(function () {
            App.setPage("forms");
            App.init(); //Initialise plugins and elements
            $('#address-book').sliderNav();

            $('#address-book .slider-content ul li ul li a').click(function (e) {
                e.preventDefault();
                var contact_card = $('#contact-card');
                //Get the name clicked on
                var name = $(this).text();
                //Set the name
                $('#contact-card .panel-title').html(name);
                $('#contact-card #card-name').html(name);
                //Randomize the image
                var img_id = Math.floor(Math.random() * (5 - 1 + 1)) + 1;
                //Set the image
                $('#contact-card .headshot img').attr('src', 'img/addressbook/' + img_id + '.jpg');
                contact_card.removeClass('animated fadeInUp').addClass('animated fadeInUp');
                var wait = window.setTimeout(function () {
                    contact_card.removeClass('animated fadeInUp')
                },
                    1300
                );
            });
        });
    </script>
}
