@model SuperAdmin.WebUI.Areas.SysAdvertisement.Models.UpdScheduleViewModel
@{
    Layout = "~/Views/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div id="content" class="col-lg-12">
            <!-- PAGE HEADER-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-header">
                        <!-- BREADCRUMBS -->
                        <ul class="breadcrumb">
                            <li>
                                <i class="fa fa-home"></i>
                                <a href="index.html">Home</a>
                            </li>
                            <li>
                                <a href="#">广告设置</a>
                            </li>
                            <li>修改广告排期</li>
                        </ul>
                        <!-- /BREADCRUMBS -->
                        <div class="clearfix">
                            <h3 class="content-title pull-left">修改广告排期</h3>
                        </div>
                        <div class="description"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @using (Html.BeginForm("UpdateSysSchedule", "SysAdManage", new { area = "SysAdvertisement" }, FormMethod.Post, new { @id = "form1", @class = "form-horizontal", @role = "form" }))
                    {
 @Html.HiddenFor(m => m.updmodel.ID)
                        <div class="form-group">
                            <label class="col-sm-3 control-label">排期标题</label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(m => m.updmodel.ScheduleName, new { @placeholder = "排期标题", @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">所属平台</label>
                            <div class="col-sm-6">
                                <select class="form-control" id="sitelist">
                                    @foreach (var item in Model.sites)
                                    {
                                        <option value="@item.ID" checked="@(item.ID == Model.updmodel.AdSiteID ? "checked" : "")">@item.AdSiteName</option>
                                    }
                                </select>
                                @Html.HiddenFor(m => m.updmodel.AdSiteID)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">广告位置</label>
                            <div class="col-sm-6">
                                <div id="magicsuggest1">@Model.updmodel.PositionName</div>
                                @Html.HiddenFor(m => m.updmodel.AdPID)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">广告内容</label>
                            <div class="col-sm-6">
                                <div id="magicsuggest">@Model.updmodel.AdTitle</div>
                                @Html.HiddenFor(m => m.updmodel.AdID)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">开始时间</label>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.updmodel.StarTime, new { @class = "form-control", @readonly = "true" })
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">结束时间</label>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.updmodel.EndTime, new { @class = "form-control", @readonly = "true" })
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">客户姓名</label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(m => m.updmodel.ClientName, new { @placeholder = "客户姓名", @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">客户邮箱</label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(m => m.updmodel.ClientEmail, new { @placeholder = "客户邮箱", @class = "form-control", @required = "true", @type = "email" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">客户手机</label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(m => m.updmodel.ClientPhone, new { @placeholder = "客户手机", @class = "form-control" })
                            </div>
                        </div>                        

                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-7">
                                <div class="box">
                                    <div class="box-title">
                                        <h4><i class="fa fa-plus"></i>更多扩展信息</h4>
                                        <div class="tools">
                                            <a class="expand" href="javascript:;">
                                                <i class="fa fa-chevron-down"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div style="display: none" class="box-body">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">区域名称</label>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(m => m.updmodel.AreaName, new { @placeholder = "区域名称", @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">控制器名称</label>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(m => m.updmodel.ControllerName, new { @placeholder = "控制器名称", @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Action名称</label>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(m => m.updmodel.ActionName, new { @placeholder = "Action名称", @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">间隔数</label>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(m => m.updmodel.IntervalNum, new { @placeholder = "间隔数", @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">特殊标注</label>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(m => m.updmodel.GivenID, new { @placeholder = "特殊标注", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer center">
                            <a class="btn btn-lg btn-default" href="@Url.Action("SysAdInfo", "SysAdManage", new { area = "SysAdvertisement" })">取 消</a>
                            <button type="button" class="btn btn-lg btn-primary" onclick="checkform()">保  存</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section mycss{
    <link rel="stylesheet" href="@Url.Content("/js/bootstrap-daterangepicker/bootstrap-datetimepicker.css")">
    <link rel="stylesheet" href="@Url.Content("/js/magic-suggest/magicsuggest-min.css")">
}
@section scriptfiles{
    <script src="@Url.Content("/js/bootstrap-daterangepicker/bootstrap-datetimepicker.js")"></script>
    <script src="@Url.Content("/js/bootstrap-daterangepicker/locales/bootstrap-datetimepicker.zh-CN.js")"></script>
    <script src="@Url.Content("/js/magic-suggest/magicsuggest-min.js")"></script>
}
@section myscript{
    <script type="text/javascript">
        $(function () {
            App.init(); //Initialise plugins and elements

            $("#updmodel_StarTime").datetimepicker({
                language: 'zh-CN',
                format: 'yyyy-mm-dd hh:ii'
            });
            $("#updmodel_EndTime").datetimepicker({
                language: 'zh-CN',
                format: 'yyyy-mm-dd hh:ii'
            });

            $("#sitelist").change(function () {
                $.ajax({
                    url: '@Url.Action("GetJsonSysAd", "SysAdManage", new { area = "SysAdvertisement" })',
                    data: { 'siteid': $("#sitelist").val() },
                    dataType: 'json',
                    type: 'POST',
                    async: false,
                    success: function (data) {
                        $("#magicsuggest").magicSuggest().setData(data);
                    }
                });
                $.ajax({
                    url: '@Url.Action("GetJsonSysPosition", "SysAdManage", new { area = "SysAdvertisement" })',
                    data: { 'siteid': $("#sitelist").val() },
                    dataType: 'json',
                    type: 'POST',
                    async: false,
                    success: function (data) {
                        $("#magicsuggest1").magicSuggest().setData(data);
                    }
                });
            });
            $("#magicsuggest").magicSuggest({
                displayField: 'AdTitle',
                valueField: 'ID',
                allowFreeEntries: false,
                placeholder: '',
                resultAsString: true,
                required: true,
                useZebraStyle: true,
                maxSelection: 1,
                noSuggestionText: '无匹配项',
                sortOrder: 'ID',
                sortDir: 'desc',
                value:['@(Model.updmodel.AdTitle)']
            });
            $("#magicsuggest1").magicSuggest({
                displayField: 'PName',
                valueField:'ID',
                allowFreeEntries: false,
                placeholder: '',
                resultAsString: true,
                required: true,
                useZebraStyle: true,
                maxSelection: 1,
                noSuggestionText: '无匹配项',
                sortOrder: 'ID',
                sortDir: 'desc',
                value: ['@(Model.updmodel.PositionName)']
            });
            $.ajax({
                url: '@Url.Action("GetJsonSysAd", "SysAdManage", new { area = "SysAdvertisement" })',
                data: { 'siteid': $("#sitelist").val() },
                dataType: 'json',
                type: 'POST',
                async: false,
                success: function (data) {
                    $("#magicsuggest").magicSuggest().setData(data);
                }
            });
            $.ajax({
                url: '@Url.Action("GetJsonSysPosition", "SysAdManage", new { area = "SysAdvertisement" })',
                data: { 'siteid': $("#sitelist").val() },
                dataType: 'json',
                type: 'POST',
                async: false,
                success: function (data) {
                    $("#magicsuggest1").magicSuggest().setData(data);
                }
            });
        });
        function checkform() {
            var addatas = $("#magicsuggest").magicSuggest().getSelection();
            var positiondatas = $("#magicsuggest1").magicSuggest().getSelection();
            $("#updmodel_AdSiteID").val($("#sitelist").val());
            $("#updmodel_AdPID").val(positiondatas[0].ID);
            $("#updmodel_AdID").val(addatas[0].ID);
            document.getElementById('form1').submit();
            return false;
        }
    </script>
}