@model SuperAdmin.WebUI.Areas.AdminArea.Models.AddModuleViewModel
@{
    Layout = "~/Views/_Layout.cshtml";
}
<!-- SAMPLE BOX CONFIGURATION MODAL FORM-->
<div class="bootbox modal fade in" id="box-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-form">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">引用图片</h4>
            </div>
            <div class="modal-body">
                <div class="bootbox-body">
                    <div class="form-group">
                        <label class="pull-left control-label">图片名称：</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="picname" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="pull-left control-label">分类：</label>
                        <div class="col-sm-3">
                            <select class="form-control" id="catelist">
                                @foreach (var item in Model.picCategory)
                                {
                                    <option value="@item.ID">@item.PiccName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="btn-group hidden-xs pull-right invoice-btn-group">
                        <p class="btn-toolbar">
                            <button class="btn btn-primary" type="button" onclick="searchdata()"><i class="fa fa-search"></i>&nbsp;搜索</button>
                        </p>
                    </div>
                </div>
                <div class="box-body clearfix" style="padding-top: 50px">
                    <div class="row" style="padding-bottom: 10px" id="imageresult">
                    </div>     
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">完 成</button>
            </div>
        </div>
    </div>
</div>
<!-- /SAMPLE BOX CONFIGURATION MODAL FORM-->
<div class="container">
    <div class="row">
        <div id="content" class="col-lg-12">
            <!-- PAGE HEADER-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-header">
                        <!-- BREADCRUMBS -->
                        <ul class="breadcrumb">
                            <li>
                                <i class="fa fa-home"></i>
                                <a href="index.html">Home</a>
                            </li>
                            <li>
                                <a href="#">网站模块管理
                                </a>
                            </li>
                            <li>添加模块</li>
                        </ul>
                        <!-- /BREADCRUMBS -->
                        <div class="clearfix">
                            <h3 class="content-title pull-left">添加模块</h3>
                        </div>
                        <div class="description"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @using (Html.BeginForm("AddModule", "FrontSetting", new { area = "AdminArea" }, FormMethod.Post, new { @id = "form1", @class = "form-horizontal", @role = "form" }))
                    {
                        <div class="form-group">
                            <label class="col-sm-3 control-label">模块名称</label>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(m => m.addmodel.ModuleName, new { @class = "form-control", @placeholder = "模块名称" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">模块描述</label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(m => m.addmodel.ModuleDescription, new { @class = "form-control", @placeholder = "模块描述" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">模块宽度</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.addmodel.ModuleWidth, new { @class = "form-control", @placeholder = "模块宽度" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">模块高度</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.addmodel.ModuleHeight, new { @class = "form-control", @placeholder = "模块高度" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">模块引用图片ID</label>
                            <div class="col-sm-7">
                                <a class="btn btn-primary" data-toggle="modal" href="#box-config" id="addnew"><i class="fa fa-plus"></i>选择图片</a><label style="color:red" id="showresult">没有选择关联图片</label>
                                @Html.HiddenFor(m => m.addmodel.ModuleImg)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">菜单状态：</label>
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                    <input type="radio" class="uniform" name="optionsRadios1" value="1" checked>
                                    启用
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" class="uniform" name="optionsRadios1" value="0">
                                    禁用
                                </label>
                                @Html.HiddenFor(m => m.addmodel.ModuleStatus)
                            </div>
                        </div>     
                        <div class="form-group">
                            <label class="col-sm-3 control-label">模块代码</label>
                            <div class="col-sm-7">
                                <script type="text/plain" id="newseditor"></script>
                                @Html.HiddenFor(m => m.addmodel.ModuleCode)
                            </div>
                        </div>
                        <div class="modal-footer center">
                            <a class="btn btn-lg btn-default" href="@Url.Action("WebModules", "FrontSetting", new { area="AdminArea"})">取 消</a>
                            <button type="submit" class="btn btn-lg btn-primary" >保  存</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scriptfiles{
    <script type="text/javascript" src="@Url.Content("/ueditor/ueditor.config.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ueditor/ueditor.all.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ueditor/lang/zh-cn/zh-cn.js")"></script>
}
@section myscript{
    <script type="text/javascript">
        $(function () {
            App.init(); //Initialise plugins and elements
            var ue = UE.getEditor('newseditor', UE.utils.extend({
                toolbars: [['source', '|', 'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', '|', 'fontsize', '|', 'directionalityltr', 'directionalityrtl', 'indent', '|', 'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify']]
        , zIndex: 0, initialFrameHeight: 300
            }, null, true));
            ue.addListener("contentChange", function (type, mode) {
                var content = ue.getContentTxt();                
                $("#addmodel_ModuleCode").val(content);
            });
            $("#addmodel_ModuleStatus").val($("input:radio[name=optionsRadios1]:checked").val());
            $("input:radio[name=optionsRadios1]").change(function () {
                var raval = $("input:radio[name=optionsRadios1]:checked").val();
                $("#addmodel_ModuleStatus").val(raval);
            });
            
        });
        function searchdata() {
            var cateid = $("#catelist").val();
            var name = $("#picname").val();
            $.ajax({
                url: '@Url.Action("GetwebImglist", "FrontSetting", new { area = "AdminArea" })',
                 dataType: 'Json',
                 data: { 'name': name, 'cateids': cateid },
                 type: 'POST',
                 success: function (data) {
                     $("#imageresult").html('');
                     $.each(data, function (i, item) {
                         var imgstr = " <div class='col-xs-4'><img  src='" + item.PicUrlStr + "' class='img-responsive webimg'  name='"+item.ID+"' onclick='setfouce("+item.ID+",$(this))'/></div>";
                         $("#imageresult").append(imgstr);
                     });
                 }
            });
        }
        function setfouce(id,obj)
        {
            if (obj.hasClass("webimg"))
            {
                var text = $("#addmodel_ModuleImg").val();
                if (text == '') {
                    text = "," + id + ",";
                }
                else {
                    text = text + id + ",";
                }
                $("#addmodel_ModuleImg").val(text);
                obj.removeClass("webimg");
                obj.addClass("webimgfouce");
                var test = $("#addmodel_ModuleImg").val();
                if (test == '' || test == ",") {
                    $("#showresult").html("没有选择关联图片");
                }
                else {
                    var t = test.substring(1, test.length - 1);
                    if (t == '') { $("#showresult").html("没有选择关联图片"); }
                    else {
                        var ts = t.split(',');
                        $("#showresult").html("已选择" + ts.length + "张图片");
                    }
                }
            }
            else
            {
                var text = $("#addmodel_ModuleImg").val();
                var idstr = "," + id + ",";
                $("#addmodel_ModuleImg").val(text.replace(idstr, ','));
                obj.removeClass("webimgfouce");
                obj.addClass("webimg");
                var test = $("#addmodel_ModuleImg").val();
                if (test == ''||test==",") {
                    $("#showresult").html("没有选择关联图片");
                }
                else {
                    var t = test.substring(1, test.length - 1);
                    if (t == '') { $("#showresult").html("没有选择关联图片"); }
                    else {
                        var ts = t.split(',');
                        $("#showresult").html("已选择" + ts.length + "张图片");
                    }
                }
            }
        }

    </script>
}
