@model SuperAdmin.WebUI.Areas.AdminArea.Models.AddProductViewModel
@{
    Layout = "~/Views/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div id="content" class="col-lg-12">
            <!-- PAGE HEADER-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-header">
                        <!-- BREADCRUMBS -->
                        <ul class="breadcrumb">
                            <li>
                                <i class="fa fa-home"></i>
                                <a href="index.html">Home</a>
                            </li>
                            <li>
                                <a href="#">产品管理</a>
                            </li>
                            <li>添加产品</li>
                        </ul>
                        <!-- /BREADCRUMBS -->
                        <div class="clearfix">
                            <h3 class="content-title pull-left">添加产品</h3>
                        </div>
                        <div class="description"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box border green" id="formWizard">
                        @using (Html.BeginForm("AddProduct", "Product", new { area = "AdminArea" }, FormMethod.Post, new { @id = "wizForm", @class = "form-horizontal" }))
                        {                        
                            <div class="wizard-form">
                                <div class="wizard-content">
                                    <ul class="nav nav-pills nav-justified steps">
                                        <li>
                                            <a href="#account" data-toggle="tab" class="wiz-step">
                                                <span class="step-number">1</span>
                                                <span class="step-name"><i class="fa fa-check"></i>基本信息 </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#payment" data-toggle="tab" class="wiz-step active">
                                                <span class="step-number">2</span>
                                                <span class="step-name"><i class="fa fa-check"></i>添加属性</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#procontent" data-toggle="tab" class="wiz-step">
                                                <span class="step-number">3</span>
                                                <span class="step-name"><i class="fa fa-check"></i>上传图片</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#confirm" data-toggle="tab" class="wiz-step">
                                                <span class="step-number">4</span>
                                                <span class="step-name"><i class="fa fa-check"></i>详细描述</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div id="bar" class="progress progress-striped progress-sm active" role="progressbar">
                                        <div class="progress-bar progress-bar-success"></div>
                                    </div>
                                    <div class="tab-content">
                                        <div class="alert alert-danger display-none">
                                            <a class="close" aria-hidden="true" href="#" data-dismiss="alert">×</a>
                                            Your form has errors. Please correct them to proceed.
                                        </div>
                                        <div class="alert alert-success display-none">
                                            <a class="close" aria-hidden="true" href="#" data-dismiss="alert">×</a>
                                            Your form validation is successful!
                                        </div>
                                        <div class="tab-pane active" id="account">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">产品名称<span class="required">*</span></label>
                                                <div class="col-md-5">
                                                    @Html.TextBoxFor(m => m.product.ProductName, new { @placeholder = "产品名称", @class = "form-control" })
                                                    <span class="error-span"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">成本价格<span class="required">*</span></label>
                                                <div class="col-md-2">
                                                    @Html.TextBoxFor(m => m.product.ProductCostPrice, new { @placeholder = "成本价格", @class = "form-control" })
                                                    <span class="error-span"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">标准价格</label>
                                                <div class="col-md-2">
                                                    @Html.TextBoxFor(m => m.product.ProductStandardPrice, new { @placeholder = "标准价格", @class = "form-control" })
                                                    <span class="error-span"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">销售价格<span class="required">*</span></label>
                                                <div class="col-md-2">
                                                    @Html.TextBoxFor(m => m.product.ProductSalePrice, new { @placeholder = "销售价格", @class = "form-control" })
                                                    <span class="error-span"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">产品分类</label>
                                                <div class="col-md-2">
                                                    <select class="form-control" id="typelist">
                                                        @foreach (var item in Model.categories)
                                                        {
                                                            <option value="@item.ID">@item.CateName</option>
                                                        }
                                                    </select>
                                                    @Html.HiddenFor(m => m.product.ProductCateID)
                                                    @Html.HiddenFor(m => m.product.ProductCateName)
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">产品描述</label>
                                                <div class="col-md-5">
                                                    @Html.TextAreaFor(m => m.product.ProductDescription, new { @row = "4", @placeholder = "产品描述", @class = "form-control" })
                                                    <span class="error-span"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="payment">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">产品属性</label>
                                                <div class="col-sm-7" id="procates">
                                                    <input type="hidden" id="cateindex" value="0" />
                                                    <div role="form" class="form-inline">
                                                        <div class="form-sub-group">
                                                            <input type="text" placeholder="属性名称" id="product_AttrLists_0_AttrKey" name="product.AttrLists[0].AttrKey" class="form-control">
                                                        </div>
                                                        <div class="form-sub-group">
                                                            <input type="text" placeholder="属性值" id="product_AttrLists_0_AttrValue" name="product.AttrLists[0].AttrValue" class="form-control">
                                                        </div>
                                                        <div class='form-sub-group'>
                                                            <input type='text' placeholder='备注' id='product_AttrLists_0_descript' name='product.AttrLists[0].descript' class='form-control'>
                                                        </div>
                                                        <a class="btn btn-success" onclick='addcateitem()'>继续添加</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="procontent">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">产品主图</label>
                                                <div class="col-sm-7">
                                                    <div class="col-lg-5">
                                                        <img id="adpic" height="120" width="200" src="/img/fileupload-default.jpg" class="pull-left">
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <span class="btn btn-lg btn-warning fileinput-button pull-buttom">
                                                            <i class="icon-plus icon-white"></i>
                                                            <span>&nbsp;上传主图&nbsp;</span>
                                                            <input id="fileupload" type="file" name="files[]" data-url="@Url.Action("UploadSuitFiles", "Home", new { area = "" })">
                                                        </span>
                                                        <p id="erradpic" class="text-danger"></p>
                                                    </div>
                                                    @Html.HiddenFor(m => m.product.ProductCoverImg)
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">产品副图</label>
                                                <div class="col-sm-7">
                                                    <div class="col-lg-12">
                                                        <span class="btn btn-lg btn-success fileinput-button pull-buttom">
                                                            <i class="icon-plus icon-white"></i>
                                                            <span>&nbsp;上传副图&nbsp;</span>
                                                            <input id="smallfileupload" type="file" name="files[]" data-url="@Url.Action("UploadSuitFiles", "Home", new { area = "" })">
                                                        </span>
                                                        <p id="erradsmallpic" class="text-danger"></p>
                                                        <input type="hidden" id="indeximg" value="1" />
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <img id="adsmallpic1" height="120" width="150" src="/img/fileupload-default.jpg" class="pull-left">
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <img id="adsmallpic2" height="120" width="150" src="/img/fileupload-default.jpg" class="pull-left">
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <img id="adsmallpic3" height="120" width="150" src="/img/fileupload-default.jpg" class="pull-left">
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <img id="adsmallpic4" height="120" width="150" src="/img/fileupload-default.jpg" class="pull-left">
                                                    </div>
                                                    @Html.HiddenFor(m => m.product.ProductSmallPic)
                                                </div>
                                            </div>

                                        </div>
                                        <div class="tab-pane" id="confirm">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">产品描述</label>
                                                <div class="col-sm-7">
                                                    <script type="text/plain" id="producteditor"></script>
                                                    @Html.HiddenFor(m => m.product.ProductContent)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wizard-buttons">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-offset-3 col-md-9">
                                                <a href="javascript:;" class="btn btn-default prevBtn">
                                                    <i class="fa fa-arrow-circle-left"></i>上一步 
                                                </a>
                                                <a href="javascript:;" class="btn btn-primary nextBtn">下一步 <i class="fa fa-arrow-circle-right"></i>
                                                </a>
                                                <a href="javascript:;" class="btn btn-success submitBtn">提 交 <i class="fa fa-arrow-circle-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section mycss{
    <link rel="stylesheet" href="@Url.Content("/js/jquery-upload/css/jquery.fileupload.css")">
    <link rel="stylesheet" href="@Url.Content("/js/jquery-upload/css/jquery.fileupload-ui.css")">
    <!-- WIZARD -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("/js/bootstrap-wizard/wizard.css")" />
    <!-- UNIFORM -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("/js/uniform/css/uniform.default.min.css")" />
}
@section scriptfiles{
    <script src="@Url.Content("/js/jquery-upload/js/vendor/jquery.ui.widget.js")"></script>
    <script src="@Url.Content("/js/jquery-upload/js/jquery.iframe-transport.js")"></script>
    <script src="@Url.Content("/js/jquery-upload/js/jquery.fileupload.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ueditor/ueditor.config.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ueditor/ueditor.all.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ueditor/lang/zh-cn/zh-cn.js")"></script>
    <!-- SELECT2 -->
    <script type="text/javascript" src="@Url.Content("/js/select2/select2.min.js")"></script>
    <!-- UNIFORM -->
    <script type="text/javascript" src="@Url.Content("/js/uniform/jquery.uniform.min.js")"></script>
    <!-- WIZARD -->
    <script src="@Url.Content("/js/bootstrap-wizard/jquery.bootstrap.wizard.min.js")"></script>
    <!-- WIZARD -->
    <script src="@Url.Content("/js/jquery-validate/jquery.validate.min.js")"></script>
    <script src="@Url.Content("/js/jquery-validate/additional-methods.min.js")"></script>
    <!-- BOOTBOX -->
    <script type="text/javascript" src="@Url.Content("/js/bootbox/bootbox.min.js")"></script>
    <!-- COOKIE -->
    <script type="text/javascript" src="@Url.Content("/js/jQuery-Cookie/jquery.cookie.min.js")"></script>
}
@section myscript{
    <!-- CUSTOM SCRIPT -->
    <script src="@Url.Content("/js/bootstrap-wizard/form-wizard.min.js")"></script>
    <script type="text/javascript">
        $(function () {
            App.init(); //Initialise plugins and elements
            FormWizard.init();
            $("#fileupload").fileupload({
                dataType: 'json',
                type: "POST",
                singleFileUploads: true,
                autoUpload: true,
                done: function (e, data) {
                    var path = data.result.path;
                    var urlpath = data.result.urlpath;
                    var ustatus = data.result.status;
                    var msg = data.result.meg;
                    if (ustatus) {
                        $("#erradpic").hide();
                        $("#adpic").attr("src", urlpath);
                        $("#product_ProductCoverImg").val(path);
                    }
                    else {
                        $("#erradpic").show();
                        $("#erradpic").html(msg);
                    }
                }
            });
            $("#smallfileupload").fileupload({
                dataType: 'json',
                type: "POST",
                singleFileUploads: true,
                autoUpload: true,
                done: function (e, data) {
                    var path = data.result.path;
                    var urlpath = data.result.urlpath;
                    var ustatus = data.result.status;
                    var msg = data.result.meg;
                    var indeximg = parseInt($("#indeximg").val());
                    if (ustatus) {
                        $("#erradpic").hide();
                        $("#adsmallpic" + indeximg).attr("src", urlpath);
                        var fullpath = $("#product_ProductSmallPic").val() + path+";";
                        $("#product_ProductSmallPic").val(fullpath);
                        indeximg = indeximg + 1;
                        $("#indeximg").val(indeximg);
                    }
                    else {
                        $("#erradpic").show();
                        $("#erradpic").html(msg);
                    }
                }
            });
            var ue = UE.getEditor('producteditor', UE.utils.extend({
                toolbars: [['source', '|', 'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', '|', 'fontsize', '|', 'directionalityltr', 'directionalityrtl', 'indent', '|', 'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|', 'simpleupload']]
       , zIndex: 0, initialFrameHeight: 640
            }, null, true));
            ue.addListener("contentChange", function (type, mode) {
                $("#product_ProductContent").val(ue.getContent());
            });
        });
        function addcateitem() {
            var index = parseInt($("#cateindex").val()) + 1;
            var str = "<div role='form' class='form-inline'><div class='form-sub-group'><input type='text' placeholder='属性名称' id='product_AttrLists_" + index + "_AttrKey' name='product.AttrLists[" + index + "].AttrKey' class='form-control'></div><div class='form-sub-group'><input type='text' placeholder='属性值' id='product_AttrLists_" + index + "_AttrValue' name='product.AttrLists[" + index + "].AttrValue' class='form-control'></div><div class='form-sub-group'><input type='text' placeholder='备注' id='product_AttrLists_" + index + "_descript' name='product.AttrLists[" + index + "].descript' class='form-control'></div></div>";
            $(str).appendTo("#procates");
            $("#cateindex").val(index);
        }
    </script>
}
