@model SuperAdmin.WebUI.Areas.AdminArea.Models.AddArticleViewModel
@{
    Layout = "~/Views/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div id="content" class="col-lg-12">
            <!-- PAGE HEADER-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-header">
                        <!-- BREADCRUMBS -->
                        <ul class="breadcrumb">
                            <li>
                                <i class="fa fa-home"></i>
                                <a href="index.html">Home</a>
                            </li>
                            <li>
                                <a href="#">文章管理</a>
                            </li>
                            <li>添加文章</li>
                        </ul>
                        <!-- /BREADCRUMBS -->
                        <div class="clearfix">
                            <h3 class="content-title pull-left">添加文章</h3>
                        </div>
                        <div class="description"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @using (Html.BeginForm("AddArticle", "Article", new { area = "AdminArea" }, FormMethod.Post, new { @id = "form1", @class = "form-horizontal", @role = "form" }))
                    {
                        <div class="form-group">
                            <label class="col-sm-3 control-label">文章标题</label>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(m => m.article.ArtTitle, new { @placeholder = "文章标题", @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">文章类型</label>
                            <div class="col-sm-6">
                                <select class="form-control" id="typelist">
                                    @foreach (var item in Model.typelist)
                                    {
                                        <option value="@item.Key">@item.Value</option>
                                    }
                                </select>
                                @Html.HiddenFor(m => m.article.ArtType)
                                @Html.HiddenFor(m => m.article.ArtTypeName)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">文章类别</label>
                            <div class="col-sm-6">
                                <select class="form-control" id="catelist">
                                    @foreach (var item in Model.categorylist)
                                    {
                                        <option value="@item.ID">@item.CName</option>
                                    }
                                </select>
                                @Html.HiddenFor(m => m.article.ArtCID)
                                @Html.HiddenFor(m => m.article.ArtCName)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">文章摘要</label>
                            <div class="col-sm-7">
                                @Html.TextAreaFor(m => m.article.ArtSummary, new { @rows = "3", @placeholder = "文章摘要", @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">文章关键词</label>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(m => m.article.ArtUserTags, new { @placeholder = "文章关键词，请用逗号(,)隔开", @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">文章主图</label>
                            <div class="col-sm-7">
                                <div class="col-lg-5">
                                    <img id="adpic" height="120" width="200" src="/img/fileupload-default.jpg" class="pull-left">
                                </div>
                                <div class="col-lg-6">
                                    <span class="btn btn-lg btn-warning fileinput-button pull-buttom">
                                        <i class="icon-plus icon-white"></i>
                                        <span>&nbsp;上传图片&nbsp;</span>
                                        <input id="fileupload" type="file" name="files[]" data-url="@Url.Action("UploadSuitFiles", "Home", new { area = "" })">
                                    </span>
                                    <p id="erradpic" class="text-danger"></p>
                                </div>
                                @Html.HiddenFor(m => m.article.ArtPic)
                                @Html.HiddenFor(m => m.article.ArtPicHeight)
                                @Html.HiddenFor(m => m.article.ArtPicWidth)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">文章内容</label>
                            <div class="col-sm-7">
                                <script type="text/plain" id="articleeditor"></script>
                                @Html.HiddenFor(m => m.article.ArtContent)
                                @Html.HiddenFor(m => m.article.ArtUserTags)
                                @Html.HiddenFor(m => m.article.ArtTags)
                            </div>
                        </div>       
                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-9">
                                <div class="box">
                                    <div class="box-title">
                                        <h4><i class="fa fa-plus"></i>更多扩展信息</h4>
                                        <div class="tools">
                                            <a class="expand" href="javascript:;">
                                                <i class="fa fa-chevron-down"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div style="display: none" class="box-body">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">来源站点</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(m => m.article.ArtFrom, new { @placeholder = "来源站点", @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">来源URL</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(m => m.article.ArtFromUrl, new { @placeholder = "来源URL", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer center">
                            <a class="btn btn-lg btn-default" href="#">取 消</a>
                            <button type="button" class="btn btn-lg btn-primary" onclick="checkform()">保  存</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section mycss{
    <link rel="stylesheet" href="@Url.Content("/js/jquery-upload/css/jquery.fileupload.css")">
    <link rel="stylesheet" href="@Url.Content("/js/jquery-upload/css/jquery.fileupload-ui.css")">
}
@section scriptfiles{
    <script src="@Url.Content("/js/jquery-upload/js/vendor/jquery.ui.widget.js")"></script>
    <script src="@Url.Content("/js/jquery-upload/js/jquery.iframe-transport.js")"></script>
    <script src="@Url.Content("/js/jquery-upload/js/jquery.fileupload.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ueditor/ueditor.config.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ueditor/ueditor.all.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ueditor/lang/zh-cn/zh-cn.js")"></script>
}
@section myscript{
    <script type="text/javascript">
        $(function () {
            App.init(); //Initialise plugins and elements
            $("#erradpic").hide();
            $("#fileupload").fileupload({
                dataType: 'json',
                type: "POST",
                singleFileUploads: true,
                autoUpload: true,
                done: function (e, data) {
                    var path = data.result.path;
                    var urlpath = data.result.urlpath;
                    var ustatus = data.result.status;
                    var msg = data.result.meg;
                    if (ustatus) {
                        $("#erradpic").hide();
                        $("#adpic").attr("src", urlpath);
                        $("#article_ArtPic").val(path);
                        $("#article_ArtPicHeight").val(data.result.imgheight);
                        $("#article_ArtPicWidth").val(data.result.imgwidth)
                    }
                    else {
                        $("#erradpic").show();
                        $("#erradpic").html(msg);
                    }
                }
            });
            var ue = UE.getEditor('articleeditor', UE.utils.extend({
                toolbars: [['source', '|', 'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', '|', 'fontsize', '|', 'directionalityltr', 'directionalityrtl', 'indent', '|', 'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|', 'simpleupload']]
        , zIndex: 0, initialFrameHeight: 640
            }, null, true));
            $("#article_ArtCID").val($("#catelist").val());
            $("#article_ArtCName").val($("#catelist").find("option:selected").text());
            $("#catelist").change(function () {
                var changetext = $("#catelist").find("option:selected").text();
                var changeval = $("#catelist").val();
                $("#article_ArtCID").val(changeval);
                $("#article_ArtCName").val(changetext);
            });
            $("#article_ArtType").val($("#typelist").val());
            $("#article_ArtTypeName").val($("#typelist").find("option:selected").text());
            $("#typelist").change(function () {
                var changetext = $("#typelist").find("option:selected").text();
                var changeval = $("#typelist").val();
                $("#article_ArtType").val(changeval);
                $("#article_ArtTypeName").val(changetext);
            });
            ue.addListener("contentChange", function (type, mode) {
                $.ajax({
                    url: '@Url.Action("spliteword", "Article", new { area = "AdminArea" })',
                    dataType: 'Json',
                    data: { "title": $("#article_ArtTitle").val(), "content": ue.getContentTxt() },
                    type: 'POST',
                    success: function (data) {
                        var result =eval("("+  data+")") ;
                        var tagsrt = '';
                        $.each(result, function (i, item) {
                            tagsrt = tagsrt + item.tagId + '|' + item.tagName + ',';
                        });
                        $("#article_ArtTags").val(tagsrt);
                    }
                });
                $("#article_ArtContent").val(ue.getContent());
            });
        });
            function checkform() {
                document.getElementById("form1").submit();
            }
    </script>
}
