@using Webdiyer.WebControls.Mvc
@model SuperAdmin.WebUI.Areas.AdminArea.Models.ArticleIndexViewModel
@{
    Layout = "~/Views/_Layout.cshtml";
}
<!-- SAMPLE BOX CONFIGURATION MODAL FORM-->
<div class="bootbox modal fade in" id="box-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-form">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="articletitle"></h4>
            </div>
            <div class="modal-body">
                <div class="bootbox-body" id="articlecontent">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关 闭</button>
            </div>
        </div>
    </div>
</div>
<!-- /SAMPLE BOX CONFIGURATION MODAL FORM-->
<div class="container">
    <div class="row">
        <div id="content" class="col-lg-12">
            <!-- PAGE HEADER-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-header">
                        <!-- BREADCRUMBS -->
                        <ul class="breadcrumb">
                            <li>
                                <i class="fa fa-home"></i>
                                <a href="index.html">Home</a>
                            </li>
                            <li>
                                <a href="#">文章管理</a>
                            </li>
                            <li>文章列表</li>
                        </ul>
                        <!-- /BREADCRUMBS -->
                        <div class="clearfix">
                            <h3 class="content-title pull-left">文章列表</h3>
                        </div>
                        <div class="description"></div>
                    </div>
                </div>
            </div>
            <!-- /PAGE HEADER -->

            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-12">
                        @using (Html.BeginForm("Index", "Article", FormMethod.Get, new { @id = "form1" }))
                        {
                            <div class="form-group">
                                <label  class="pull-left control-label">编号</label>
                                <div class="col-sm-1">
                                    @Html.TextBoxFor(m => m.seachmodel.ID, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="pull-left control-label">标题</label>
                                <div class="col-sm-2">
                                    @Html.TextBoxFor(m => m.seachmodel.ArtTitle, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="pull-left control-label">分类</label>
                                <div class="col-sm-1">
                                    @Html.DropDownListFor(m => m.seachmodel.ArtCID, null, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="pull-left control-label">状态</label>
                                <div class="col-sm-1">
                                    @Html.DropDownListFor(m => m.seachmodel.ArtStatus, null, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="pull-left control-label">时间</label>
                                <div class="col-sm-2">
                                    @Html.TextBoxFor(m => m.seachmodel.StarTime, new { @class = "form-control", @readonly = "true" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="pull-left control-label">至</label>
                                <div class="col-sm-2">
                                    @Html.TextBoxFor(m => m.seachmodel.EndTime, new { @class = "form-control", @readonly = "true" })
                                </div>
                            </div>
                            <div class="btn-group hidden-xs pull-right invoice-btn-group">
                                <p class="btn-toolbar">
                                    <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i>&nbsp;搜索</button>
                                </p>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row" id="tabdiv">
                        <table class="table table-striped table-bordered" id="menutab">
                            <thead>
                                <tr>
                                    <th class="text-center">编        号</th>
                                    <th class="text-center">文章标题</th>
                                    <th class="text-center">文章作者</th>
                                    <th class="text-center">文章类型</th>
                                    <th class="text-center">文章分类</th>
                                    <th class="text-center">发布时间</th>
                                    <th class="text-center">添加时间</th>
                                    <th class="text-center">文章状态</th>
                                    <th class="text-center">编        辑</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.articlelist)
                                {
                                    <tr id="tr@(item.ID)" class="text-center">
                                        <td>@item.ID</td>
                                        <td>@item.ArtTitle</td>
                                        <td name="@(item.MemberID)">@item.MemberName</td>
                                        <td name="@(item.ArtType)">@item.ArtTypeName</td>
                                        <td name="@(item.ArtCID)">@item.ArtCName</td>
                                        <td>@item.ArtPublishTime</td>
                                        <td>@item.AddTime</td>
                                        <td name="@(item.ArtStatus)">
                                            @item.ArtStatusName
                                        </td>
                                        <td>
                                            <p class="btn-toolbar">
                                                <a class="btn btn-success" data-toggle="modal" href="#box-config" onclick="showprivew(@item.ID)"><i class="fa fa-pencil-square-o"></i>&nbsp;预  览</a>
                                                @if (item.ArtStatus == 10)
                                                { 
                                                    <button class="btn btn-warning" data-toggle="modal" onclick="checkart(@item.ID)" ><i class="fa fa-pencil-square-o"></i>&nbsp;审核</button>
                                                }
                                                else if (item.ArtStatus == 20)
                                                { 
                                                    <button class="btn btn-warning" data-toggle="modal" onclick="checkart(@item.ID)" ><i class="fa fa-pencil-square-o"></i>&nbsp;反审</button>
                                                }
                                                @if (item.ArtStatus != 30)
                                                {   <button class="btn btn-danger" data-toggle="modal" onclick="delart(@item.ID)" ><i class="fa fa-times-circle"></i>&nbsp; 删 除</button>}
                                            </p>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="row center col-xs-12 mycss">
                        @Html.Pager(Model.articlelist, new PagerOptions { PageIndexParameterName = "page", ShowPageIndexBox = false, PageIndexBoxType = PageIndexBoxType.DropDownList, ShowGoButton = false })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section mycss{
    <link rel="stylesheet" href="@Url.Content("/js/gritter/css/jquery.gritter.css")">
    <link rel="stylesheet" href="@Url.Content("/js/bootstrap-daterangepicker/bootstrap-datetimepicker.css")">
}
@section scriptfiles{
    <script src="@Url.Content("/js/gritter/js/jquery.gritter.min.js")"></script>
    <script src="@Url.Content("/js/bootstrap-daterangepicker/bootstrap-datetimepicker.js")"></script>
    <script src="@Url.Content("/js/bootstrap-daterangepicker/locales/bootstrap-datetimepicker.zh-CN.js")"></script>
}
@section myscript{
    <script type="text/javascript">
        $(function () {
            App.init(); //Initialise plugins and elements
            $("#seachmodel_StarTime").datetimepicker({
                language: 'zh-CN',
                format: 'yyyy-mm-dd hh:ii'
            });
            $("#seachmodel_EndTime").datetimepicker({
                language: 'zh-CN',
                format: 'yyyy-mm-dd hh:ii'
            });

        });
        function checkart(aid) {
            $.ajax({
                url: '@Url.Action("CheckArticle", "Article", new { area = "AdminArea" })',
                dataType: 'Json',
                data: { 'aid': aid },
                type: 'POST',
                success: function (data) {
                    var str = ''; var img = '';
                    if (data == '1') {
                        var id = $("#tr" + aid + " td:nth-child(8)").attr("name");
                        if (id == '10') {
                            $("#tr" + aid + " td:nth-child(8)").attr("name", "20");
                            $("#tr" + aid + " td:nth-child(8)").html("已审");
                        }
                        else {
                            $("#tr" + aid + " td:nth-child(8)").attr("name", "10");
                            $("#tr" + aid + " td:nth-child(8)").html("未审");
                        }
                        str = "操作成功！";
                        img = '/img/gritter/success.jpg';
                    }
                    else {
                        str = "操作失败！";
                        img = '/img/gritter/error.png';
                    }
                    setTimeout(function () {
                        var unique_id = $.gritter.add({
                            // (string | mandatory) the heading of the notification
                            title: str,
                            // (string | mandatory) the text inside the notification
                            text: '',
                            // (string | optional) the image to display on the left
                            image: img,
                            // (bool | optional) if you want it to fade out on its own or just sit there
                            sticky: true,
                            // (int | optional) the time you want it to be alive for before fading out
                            time: '',
                            // (string | optional) the class name you want to apply to that specific message
                            class_name: 'my-sticky-class'
                        });
                        // You can have it return a unique id, this can be used to manually remove it later using
                        setTimeout(function () {
                            $.gritter.remove(unique_id, {
                                fade: true,
                                speed: 'slow'
                            });
                        }, 3000);
                    }, 0);
                }
            });
        }
        function delart(aid) {
            $.ajax({
                url: '@Url.Action("DelArticle", "Article", new { area = "AdminArea" })',
                dataType: 'Json',
                data: { 'aid': aid, 'reason': '' },
                type: 'POST',
                success: function (data) {
                    var str = ''; var img = '';
                    if (data == '1') {
                        $("#tr" + aid + " td:nth-child(8)").attr("name", "30");
                        $("#tr" + aid + " td:nth-child(8)").html("已作废");
                        str = "操作成功！";
                        img = '/img/gritter/success.jpg';
                    }
                    else {
                        str = "操作失败！";
                        img = '/img/gritter/error.png';
                    }
                    setTimeout(function () {
                        var unique_id = $.gritter.add({
                            // (string | mandatory) the heading of the notification
                            title: str,
                            // (string | mandatory) the text inside the notification
                            text: '',
                            // (string | optional) the image to display on the left
                            image: img,
                            // (bool | optional) if you want it to fade out on its own or just sit there
                            sticky: true,
                            // (int | optional) the time you want it to be alive for before fading out
                            time: '',
                            // (string | optional) the class name you want to apply to that specific message
                            class_name: 'my-sticky-class'
                        });
                        // You can have it return a unique id, this can be used to manually remove it later using
                        setTimeout(function () {
                            $.gritter.remove(unique_id, {
                                fade: true,
                                speed: 'slow'
                            });
                        }, 3000);
                    }, 0);
                }
            });
        }
        function showprivew(id) {
            var title = $("#tr" + id + " td:nth-child(2)").html();
            $("#articletitle").html(title);
            $.ajax({
                url: '@Url.Action("GetArticleContent", "Article", new { area = "AdminArea" })',
                dataType: 'Json',
                data: { 'id': id },
                type: 'POST',
                async: false,
                success: function (data) {
                    var c = data.ArtContent;
                    $("#articlecontent").html(c);
                }
            });
        }
    </script>
}
